 
.btn {
  background: linear-gradient(145deg, #61ee9b, #a7f7e3);
  border: 0;
  border-radius: 4px;
  color: #666;
  cursor: pointer;
  display: block;
  font-weight: bold;
  letter-spacing: 0.01em;
  margin: 0 auto;
  margin-top: 50px;
  padding: 1.2em 2em;
}

.price {
  width: 300px;
  margin: 80px auto 0;
  font-size: 70px;
  text-align: center;
}
